<article class="post">
  <div class="country">
    {{!-- <div target="_blank">{{country_name}}</div> --}}

  </div>
  <div class="meta">
    {{country_name}} |
    {{location}} |
    <br />
    {{description}} |
    <br />
    {{username}}
    created on:
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
      
      
  </div>
  <div method="post">
   {{> comments post.comments}}  
  </div>
 
</article>
