<section class="content">
  <div class="content-cta2">
    <h2>What country will you be representing?</h2>
    <p>
      Give a brief description on what you would like to do to share your
      culture with your fellow employees. If you are sharing a food, please let
      the ingredients you will be using to help people with their dietary
      compliance.
    </p>
  </div>

  <div class="content-form">
    <h3>Represent a Country!</h3>
    <p>Provide the information below to participate in the celebration.</p>
    <form class="new-post-form">
      <label id="dropdown">Protolabs location:</label>
      <select name="location" id="location">
        <option disabled selected value="">Select here</option>
        <option value="BP">Brooklyn Park</option>
        <option value="HQ">HQ-Maple Plain</option>
        <option value="Nashua">Nashua</option>
        <option value="Plymouth">Plymouth</option>
        <option value="Raleigh">Raleigh</option>
        <option value="Rosemount">Rosemount</option>
      </select>

      <label for="country">Country:</label>
      <select name="country" id="country">
        {{#each countries as |country|}}
          <option
            class="dropdown-item"
            href="#"
          >{{country.country_name}}</option>
        {{/each}}
      </select>

      <br />
      <label for="description">Description:</label>
      <input
        type="text"
        placeholder="How will you share?"
        name="description"
        id="description"
        class="description"
      />
      <br />
      <button type="submit">Submit</button>
    </form>
  </div>

  <ol class="post-card">
    {{#each posts as |post|}}
      <article class="single-post">
        <li>
          <a href="{{country}}" target="_blank">{{post.country}}</a>
          <p><span
              style="color:{{post.location_color}}"
            >{{post.location}}</span>;
            {{post.country_name}};</p>
          <p>{{post.description}}</p>
          <div>
            {{! ADDED ON 4/4- SO username doesn't appear on post}}
            {{post.username}}
            on

            {{! created at isn't displaying at all }}
            {{post.created_at}}
            |
            {{! ADDED ON 4/4- SO This route throws an error page}}
            <a href="/post/{{post.id}}">{{post.comments.length}}
              Add Comment</a>

            {{! ADDED ON 4/4- SO This route throws an error page}}
            {{! Users need the ability to DELETE & SAVE their own posts as well! Make a button? or this can wait until they click "Edit Post" and on that page, it will pop up, CODES ALREADY THERE, Just need help with ROUTE or maybe we can just do it all on the same page?}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
            {{!  }}
          </div>
        </li>
      </article>
    {{/each}}
  </ol>
</section>

<script src="/javascript/create-post.js"></script>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/comment.js"></script>