{{! originally single-claim-post: ALL THE ORIGINAL CODE WAS MOVED TO DASHBOARD.HANDLEBARS }}

{{!-- MIGHT NEED TO BE EDITED --}}

<article class="content">
<!--  <a href="/dashboard"> &larr; Back to dashboard</a>-->
<div class="content-cta">
  <h2>
    Edit Your Entry
  </h2>
    <p>
      If you would like to change or remove your entry, please use the form to the right.
    </p>
  </div>
  <br />
  <form class="edit-post-form">
    <div>
      <label for="country">Country</label>
      <input type="text" id="country" name="country" value="{{post.country_name}}" />
      <br/>
      <label for="location">Location</label>
      <input type="text" id="location" name="location" value="{{post.location}}" />
      <br/>
      <label for="description">Description</label> <br/>
      <textarea id="description">{{post.description}}</textarea>
    </div>
    
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} </a>
      {{!-- {{format_plural "comment" post.comments.length}} --}}
    </div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  <br>
      <form class="comment-form">
        <div>
          <textarea name="comment-body"></textarea>
        </div>
      <br />
        <div>
          <button type="submit">Add Comment</button>
        </div>
      </form>

      {{> comments post.comments}}
    </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
